/*thead {*/
/*display: table-header-group;*/
/*}*/

/*td {*/
/*padding-top: 100px;*/
/*padding-bottom: 100px;*/
/*border-collapse: separate;*/
/*}*/

/*.table td.fit,*/
/*.table th.fit {*/
/*white-space: nowrap;*/
/*width: 1%;*/
/*}*/

body {
    margin-bottom: 55px;
}

td input {
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}

/*td select {*/
/*width: 100%;*/
/*}*/

/*th {*/
/*text-align: center;*/
/*}*/

input[value="UNKNOWN"] {
    background-color: yellow;
}

input[value=""] {
    background-color: yellow;
}

.bottom {
    padding-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}

.form-inline {
    padding-bottom: 7px;
}

.site-separator {
    border: darkgray groove;
}

.file-label {
    border: none;
    background: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: inherit;
}

/*header {*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*width: 100%;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*}*/

/*.ph-div {*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*width: 100%;*/
/*}*/

/*.page-header p {*/
/*font-size: 40px;*/
/*width: 80%;*/
/*margin: inherit;*/
/*vertical-align: middle;*/
/*align-content: center;*/
/*text-align: center;*/
/*display: flex;*/
/*justify-content: center;*/
/*}*/

/*.container {*/
/*display: flex;*/
/*width: 80%;*/
/*height: 80%;*/
/*vertical-align: middle;*/
/*align: center;*/
/*}*/

.table-container {
    overflow-x: auto;
}

/*.header {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*vertical-align: middle;*/
/*width: 80%;*/
/*}*/

/*.space-below {*/
/*margin-top: 30px;*/
/*margin-bottom: 30px;*/
/*padding-bottom: 50px;*/
/*}*/

/*.imp {*/
/*color: yellow;*/
/*background-color: yellow;*/
/*}*/

/*.divider {*/
/*border: solid darkgrey;*/
/*border-width: 50px 50px;*/
/*}*/