{% extends "bootstrap/base.html" %}

{% block title %}
    CSV Builder for CMDB
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% with errors = get_flashed_messages(category_filter=['error']) %}
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% with warnings = get_flashed_messages(category_filter=['warning']) %}
            {% if warnings %}
                {% for warning in warnings %}
                    <div class="alert alert-warning alert-dismissable">
                        <p>{{ warning }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% with successes = get_flashed_messages(category_filter=['success']) %}
            {% if successes %}
                {% for success in successes %}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ success }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <footer class="panel-footer">
        <div class="container footer">
            <p class="text-muted">Copyright 2017 by Verizon Wireless</p>
        </div>
    </footer>
{% endblock %}