{%- extends "base.html" %}
{{ super() }}

{%- block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='additional-methods.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                $("#bigswitch-table").append('<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyphicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="fabric[]"></td>' +
                    '<td><input type="text" value="" name="fromrack[]"></td>' +
                    '<td><input type="text" value="" name="fromrackunit[]"></td>' +
                    '<td><input type="text" value="" name="fromport[]"></td>' +
                    '<td><input type="text" value="" name="torack[]"></td>' +
                    '<td><input type="text" value="" name="torackunit[]"></td>' +
                    '<td><input type="text" value="" name="toport[]"></td></tr>');
            });

            $(".glyphicon-plus").click(function () {
                var row = '<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyphicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="fabric[]"></td>' +
                    '<td><input type="text" value="" name="fromrack[]"></td>' +
                    '<td><input type="text" value="" name="fromrackunit[]"></td>' +
                    '<td><input type="text" value="" name="fromport[]"></td>' +
                    '<td><input type="text" value="" name="torack[]"></td>' +
                    '<td><input type="text" value="" name="torackunit[]"></td>' +
                    '<td><input type="text" value="" name="toport[]"></td></tr>';
                $(this).closest("tr").after(row);
            });

            $(".glyphicon-minus").click(function () {
                $(this).closest("tr").remove();
            });
        });
    </script>
{%- endblock %}

{%- block content %}
    {{ super() }}
    <div class="container">
        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Bigswitch</h3>
    </div>
    <div class="container">
        <p>Please review before submitting!</p>
    </div>

    <form action="/bigswitch/save" method="post" id="bsform">
        <div class="container">
            <p>Site: <input type="text" name="site" required form="bsform" value="{{ site }}"/></p>
            <p>Region: <input type="text" name="region" required form="bsform" value="{{ region }}"/></p>
        </div>
        <div class="container-fluid">
            <div class="table-container">
                <table id="bigswitch-table" class="table table-responsive table-condensed table-striped">
                    <thead class="thead-inverse" style="display: table-header-group">
                    <tr>
                        <th class="fit">Add</th>
                        <th class="fit">Remove</th>
                        <th class="fit">Fabric</th>
                        <th class="fit">From Rack</th>
                        <th class="fit">From Rack Unit</th>
                        <th class="fit">From Port</th>
                        <th class="fit">To Rack</th>
                        <th class="fit">To Rack Unit</th>
                        <th class="fit">To Port</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%- for row in values %}
                        <tr>
                            <td class="fit"><span class="glyphicon glyphicon-plus"></span></td>
                            <td class="fit"><span class="glyphicon glyphicon-minus"></span></td>
                            <td class="fit"><input type="text" name="fabric[]" value="{{ row[0] }}"/></td>
                            <td class="fit"><input type="text" name="fromrack[]" value="{{ row[1] }}"/></td>
                            <td class="fit"><input type="text" name="fromrackunit[]" value="{{ row[2] }}"/></td>
                            <td class="fit"><input type="text" name="fromport[]" value="{{ row[3] }}"/></td>
                            <td class="fit"><input type="text" name="torack[]" value="{{ row[4] }}"/></td>
                            <td class="fit"><input type="text" name="torackunit[]" value="{{ row[5] }}"/></td>
                            <td class="fit"><input type="text" name="toport[]" value="{{ row[6] }}"/></td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <input class="btn btn-default" type="submit" value="Build It" id="build"/>
        </div>
    </form>
{%- endblock %}