{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#new-core-toggle').click(function () {
                var new_core = $('#new-core-toggle').is(':checked');
                $("#cr2").parent().children().attr('required', new_core).toggle(new_core);
                $("#cr3").parent().children().attr('required', new_core).toggle(new_core);
                $("#cr4").parent().children().attr('required', new_core).toggle(new_core);
                $("#nr1").parent().children().attr('required', !new_core).toggle(!new_core);
                $("#nr2").parent().children().attr('required', !new_core).toggle(!new_core);
            });
            $('#core-toggle').click(function () {
                var core = $('#core-toggle').is(':checked');
                $("#cr2").parent().children().attr('required', core).toggle(core);
                $("#cr3").parent().children().attr('required', core).toggle(core);
                $("#cr4").parent().children().attr('required', core).toggle(core);
                $("#nr1").parent().children().attr('required', core).toggle(core);
                $("#nr2").parent().children().attr('required', core).toggle(core);
            });
            $("#lite-nebs-toggle").click(function () {
                var lite = $("#lite-nebs-toggle").is(':checked');
                $("#cr2").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr3").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr4").parent().children().attr('required', !lite).toggle(!lite);
                $("#nr1").parent().children().attr('required', !lite).toggle(!lite);
                $("#nr2").parent().children().attr('required', !lite).toggle(!lite);
            });
            $("#lite-nonnebs-toggle").click(function () {
                var lite = $("#lite-nonnebs-toggle").is(':checked');
                $("#cr2").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr3").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr4").parent().children().attr('required', !lite).toggle(!lite);
                $("#nr1").parent().children().attr('required', !lite).toggle(!lite);
                $("#nr2").parent().children().attr('required', !lite).toggle(!lite);
            });
            $("#storage-toggle").click(function () {
                var storage = $("#storage-toggle").is(':checked');
                $("#cr2").parent().children().attr('required', storage).toggle(storage);
                $("#cr3").parent().children().attr('required', storage).toggle(storage);
                $("#cr4").parent().children().attr('required', storage).toggle(storage);
                $("#nr1").parent().children().attr('required', storage).toggle(storage);
                $("#nr2").parent().children().attr('required', storage).toggle(storage);
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div class="container">
            <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - BigSwitch</h3>
        </div>
        <div class="container">
            <p>Specify the 4 compute and 2 network racks that are part of your stack, in the order that they are laid
                out in the floorplan.</p>
        </div>
        <div class="form-group container">
            <form action="/bigswitch/review" method="post" enctype="multipart/form-data" id="switchform">
                <div class="radio-inline">
                    <label for="new-core-toggle">
                        <input class="radio" type="radio" name="site_type" id="new-core-toggle" form="switchform" value=""/>
                        New Core
                    </label>
                </div>
                <div class="radio-inline">
                    <label for="core-toggle">
                        <input class="radio" type="radio" name="site_type" id="core-toggle" form="switchform" value=""/>
                        Core
                    </label>
                </div>
                <div class="radio-inline">
                    <label for="lite-nebs-toggle">
                        <input class="radio" type="radio" name="site_type" id="lite-nebs-toggle" form="switchform" value="lite_nebs"/>
                        Lite (NEBS) Site</label>
                </div>
                <div class="radio-inline">
                    <label for="lite-nonnebs-toggle">
                        <input class="radio" type="radio" name="site_type" id="lite-nonnebs-toggle" form="switchform" value="lite_nonnebs"/>
                        Lite (non-NEBS) Site</label>
                </div>
                <div class="radio-inline">
                    <label for="storage-toggle">
                        <input class="radio" type="radio" name="site_type" id="storage-toggle" form="switchform" value="storage" disabled/>
                        Storage Fabric</label>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr1">Compute Rack 1</label>
                    <input id="cr1" type="text" required form="switchform" name="rack1" placeholder="e.g. P05"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr2">Compute Rack 2</label>
                    <input id="cr2" type="text" required form="switchform" name="rack2" placeholder="e.g. P06"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr3">Compute Rack 3</label>
                    <input id="cr3" type="text" required form="switchform" name="rack3" placeholder="e.g. P07"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr4">Compute Rack 4</label>
                    <input id="cr4" type="text" required form="switchform" name="rack4" placeholder="e.g. P08"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="nr1">Network Rack 1</label>
                    <input id="nr1" type="text" required form="switchform" name="nrack1" placeholder="e.g. P09"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="nr2">Network Rack 2</label>
                    <input id="nr2" type="text" required form="switchform" name="nrack2" placeholder="e.g. P10"/>
                </div>
                <div class="form-inline">
                    <label class="control-label">Site:</label>
                    <input type="text" required form="switchform" name="site" placeholder="e.g. timbuktu"/>
                </div>
                <div class="form-inline">
                    <label class="control-label">Region:</label>
                    <input type="text" required form="switchform" name="region" placeholder="e.g. s1"/>
                </div>
                <input class="btn btn-default" type="submit" form="switchform" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
