{% extends"base.html" %}
{{ super() }}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="container">
            <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Download</h3>
        </div>
        <div class="container">
            <h4>Download the below files:</h4>
            <p>then follow the git procedure for adding them to the site_inventory repo</p>
        </div>
        <div class="container">
            {% for file in files %}
                <div class="container">
                    <h3><a href="{{ url_for('download_file', file=file) }}">{{ names[loop.index0] }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}