{% extends "base.html" %}
{{ super() }}

{% block content %}
{{ super() }}
    <div class="container">
        <h2>Error</h2>
            <p>Error: {{ errors }}</p>
    </div>
    <div class="container">
        <p>Go back to <a href="{{ url_for('inventory') }}">beginning</a> </p>
    </div>
{% endblock %}