{%- extends "base.html" %}
{{ super() }}

{%- block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".well").click(function () {
                var box = $(this).find("input:checkbox");
                box.attr("checked", !box.prop("checked"));
                if (box.attr("checked")) {
                    $(this).css("background", "darkgrey");
                }
                else {
                    $(this).css("background", "#f5f5f5");
                }
            });

            function get_data() {
                var data = {
                    "newfiles[]": [],
                    "modfiles[]": []
                };
                $(':checked').each(function () {
                    if ($(this).has("input[name='newfiles[]']")) {
                        var inp = $(this).find("input[name='newfiles[]']");
                        for (i = 0; i < inp.length; i++) {
                            data["newfiles[]"].push(inp[i].val());
                        }
                    }
                    else if ($(this).has("input[name='modfiles[]']")) {
                        data["modfiles[]"].push($(this).val());
                    }
                });
                return data;
            }

            $("#download").click(function () {
                var data = get_data();
                $.ajax({
                    url: "/download-files",
                    method: "POST",
                    data: data
                })
            })

        });
    </script>
{%- endblock %}

{%- block content %}

    <div class="container">
        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Git Review</h3>
        {%- if files %}
            <div class="container">
                <form action="/download-files" method="post" id="gitform">
                    {%- for site in files %}
                        <h4 class="h4">{{ site }}</h4>
                        {%- if "new" in files[site] %}
                            <div class="container">
                                <h5 class="h5">New Files:</h5>
                                {%- for newfile in files[site]["new"] %}
                                    <p><a href="{{ url_for('download_a_file', file=newfile) }}">{{ newfile }}</a></p>
                                {%- endfor %}
                            </div>
                        {%- endif %}
                        {%- if "modified" in files[site] %}
                            <div class="container">
                                <h5 class="h5">Modified Files:</h5>
                                {%- for modfile in files[site]["modified"] %}
                                    <p><a href="{{ url_for('download_a_file', file=modfile) }}">{{ modfile }}</a></p>
                                {%- endfor %}
                            </div>
                        {%- endif %}
                    {%- endfor %}
                </form>
            </div>
        {%- endif %}
    </div>
{%- endblock %}
{#{%- block content %}#}
{#    <div class="container">#}
{#        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Git Review </h3>#}
{#        {%- if files %}#}
{#            <div class="container">#}
{#                <form action="/download-files" method="post" id="gitform">#}
{#                    {%- for site in files %}#}
{#                        <div class="well">#}
{#                            <h4 class="h4">{{ site }}</h4>#}
{#                            <input type="checkbox" class="checkbox" style="display: none" name="selected[]"/>#}
{#                            {%- if "new" in files[site] %}#}
{#                                <div class="container">#}
{#                                    <h5>New Files:</h5>#}
{#                                    {%- for new_file in files[site]["new"] %}#}
{#                                        <input class="file-label" type="text" name="newfiles[]" value="{{ new_file }}" readonly form="gitform"/>#}
{#                                    {%- endfor %}#}
{#                                </div>#}
{#                            {%- endif %}#}
{#                            {%- if "modified" in files[site] %}#}
{#                                <div class="container">#}
{#                                    <h5>Modified files:</h5>#}
{#                                    {%- for mod_file in files[site]["modified"] %}#}
{#                                        <input class="file-label" type="text" name="modfiles[]" value="{{ mod_file }}" readonly form="gitform"/>#}
{#                                    {%- endfor %}#}
{#                                </div>#}
{#                            {%- endif %}#}
{#                        </div>#}
{#                    {%- endfor %}#}
{#                    <input type="button" id="download" class="btn btn-default" value="Download"/>#}
{#                    <input type="button" class="btn btn-default" value="Push to Github" disabled/>#}
{#                </form>#}
{#            </div>#}
{#        {%- endif %}#}
{#    </div>#}
{#{%- endblock %}#}
