{% extends "base.html" %}
{{ super() }}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                $("#inventory-table").append('<tr><td><input type="text" value="" name="rack[]"></td><td><input type="text" value="" name="rack_position_bottom[]"></td><td><input type="text" value="" name="rack_position_top[]"></td><td><input type="text" value="" name="equipment[]"></td><td><input type="text" value="" name="service_tag[]"></td><td><input type="text" value="" name="node_name[]"></td><td><input type="text" value="" name="mac_address[]"></td><td><input type="text" value="" name="instance_type[]"></td></tr>');
            });
            $("#picker-btn").on('click', loadPicker);

            $("#type_select").change(function () {
                var type = ["core_1.1", "core_1.2", "monitoring"].includes($("#type_select").val());
                $("#nr1").parent().children().attr('required', type).prop('disabled', !type);
            });
        });


    </script>

    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script type="text/javascript" src="../static/config.js"></script>

{% endblock %}

{% block content %}
    {{ super() }}
    <script type="application/javascript">
        var developerKey = "AIzaSyBHrHTjRJVXL8m7Eodkpb8yYjUqksGoqkc";
        var clientId = "936598873322-em76buve43be8kp9pimtbeosc16sq8js.apps.googleusercontent.com";
        var appId = "936598873322";
        var scope = ['https://www.googleapis.com/auth/drive.readonly'];
        var pickerApiLoaded = false;
        var oauthToken;

        function loadPicker() {
            gapi.load('auth', {'callback': onAuthApiLoad});
            gapi.load('picker', {'callback': onPickerApiLoad});
        }

        function onAuthApiLoad() {
            window.gapi.auth.authorize(
                {
                    'client_id': clientId,
                    'scope': scope,
                    'immediate': false
                },
                handleAuthResult);
        }

        function onPickerApiLoad() {
            pickerApiLoaded = true;
            createPicker();
        }

        function handleAuthResult(authResult) {
            if (authResult && !authResult.error) {
                oauthToken = authResult.access_token;
                createPicker();
            }
        }

        function createPicker() {
            if (pickerApiLoaded && oauthToken) {
                var view = new google.picker.View(google.picker.ViewId.SPREADSHEETS);
                view.setMimeTypes("image/png,image/jpeg,image/jpg");
                var picker = new google.picker.PickerBuilder()
                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                    .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                    .setAppId(appId)
                    .setOAuthToken(oauthToken)
                    .addView(view)
                    .addView(new google.picker.DocsUploadView())
                    .setDeveloperKey(developerKey)
                    .setCallback(pickerCallback)
                    .build();
                picker.setVisible(true);
            }
        }

        function pickerCallback(data) {
            if (data.action == google.picker.Action.PICKED) {
                for (var i = 0; data.docs.id[0]; i++) {
                    alert('The user selected: ' + i);
                }
            }
        }

    </script>
    <div class="container">
        <div class="container">
            <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Inventory</h3>
        </div>
        <div class="container">
            <div class="container">
                <p>Upload racksheet to automatically fill out the csv contents (You'll have a chance to review before
                    submitting)</p>
            </div>
            <div class="container">
                <form action="/inventory/upload" method="post" enctype="multipart/form-data" id="invform">
                    <div class="form-inline">
                        <label class="control-label">Region:</label>
                        <input type="text" required form="invform" name="region" placeholder="e.g. s1"/>
                    </div>
                    <div class="form-inline">
                        <label class="control-label">Site:</label>
                        <input type="text" required form="invform" name="site" placeholder="e.g. atlantis"/>
                    </div>
                    <div class="form-inline">
                        <label class="control-label">Site Code:</label>
                        <input type="text" required form="invform" name="site_code" placeholder="e.g. ATS"/>
                    </div>
                    <div class="form-inline">
                        <label class="control-label" for="type_select">Type:</label>
                        <select class="form-control" id="type_select" name="site_type">
                            <option value="core_1.2">Core 1.2 - Compute & Network</option>
                            <option value="core_1.1">Core 1.1 - Compute & Network</option>
                            <option value="lite_nebs">Lite-NEBS</option>
                            <option value="lite_non_nebs">Lite-Non-NEBS</option>
                            <option value="storage_emc">Storage-EMC</option>
                            <option value="storage_object">Storage-Object</option>
                            <option value="monitoring">Monitoring</option>
                        </select>
                    </div>
                    <div class="form-inline">
                        <label class="control-label" id="label_nr1">Network Rack 1:</label>
                        <input type="text" required form="invform" name="nrack1" id="nr1"/>
                        <label class="control-label" id="label_nr2">Network Rack 2:</label>
                        <input type="text" required form="invform" name="nrack2" id="nr2"/>
                    </div>
                    <div class="form-inline">
                        <label class="btn btn-default">Choose Files
                            <input type="file" style="display: none" hidden accept=".xls,.xlsx" name="file[]" multiple class="space-below" required onchange="$('#upload-file-info').html(this.files[0].name)"/>
                        </label>
                        <span class='label label-default' id="upload-file-info"></span>
                    </div>
                    <input class="btn btn-default" type="submit" value="Upload"/>
                    {#                    <input class="btn" id="picker-btn" type="button" value="Pick from Drive"/>#}
                </form>
            </div>
        </div>
    </div>

    <form action="/inventory/save" method="post" id="invform">
        <div class="container" hidden>
            <table id="inventory-table">
                <thead style="display: table-header-group">
                <tr>
                    <th>Rack</th>
                    <th>Rack Position Bottom</th>
                    <th>Rack Position Top</th>
                    <th>Equipment</th>
                    <th>Service Tag</th>
                    <th>Node Name</th>
                    <th>MAC Address</th>
                    <th>Instance Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" name="rack[]" title="Rack"></td>
                    <td><input type="text" name="rack_position_bottom[]" title="Rack Position Bottom"></td>
                    <td><input type="text" name="rack_position_top[]" title="Rack Position Top"></td>
                    <td><input type="text" name="equipment[]" title="Equipment"></td>
                    <td><input type="text" name="service_tag[]" title="Service Tag"></td>
                    <td><input type="text" name="node_name[]" title="Node Name"></td>
                    <td><input type="text" name="mac_address[]" title="MAC Address"></td>
                    <td><input type="text" name="instance_type[]" title="Instance Type"></td>
                </tr>
                </tbody>
            </table>
            <div class="container">
                <input type="button" value="Add Row" id="add">
                <input class="btn btn-default" type="submit" value="Build It" id="build">
            </div>
        </div>
    </form>

{% endblock %}
