{%- extends "base.html" %}
{{ super() }}

{%- block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='additional-methods.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                $("#inventory-table").append('<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyphicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="rack[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_bottom[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_top[]"></td>' +
                    '<td><input type="text" value="" name="equipment[]"></td>' +
                    '<td><input type="text" value="" name="service_tag[]"></td>' +
                    '<td><input type="text" value="" name="node_name[]"></td>' +
                    '<td><input type="text" value="" name="mac_address[]"></td>' +
                    '<td><input type="text" value="" name="instance_type[]"></td></tr>');
            });

            $(".glyphicon-plus").click(function () {
                var row = '<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyhpicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="rack[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_bottom[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_top[]"></td>' +
                    '<td><input type="text" value="" name="equipment[]"></td>' +
                    '<td><input type="text" value="" name="service_tag[]"></td>' +
                    '<td><input type="text" value="" name="node_name[]"></td>' +
                    '<td><input type="text" value="" name="mac_address[]"></td>' +
                    '<td><input type="text" value="" name="instance_type[]"></td></tr>';
                $(this).closest("tr").after(row);
            });

            $(".glyphicon-minus").click(function () {
                $(this).closest("tr").remove();
            });

            $("#invform").validate({
                invalidHandler: function (event, validator) {
                    if (validator.element("td")) {
                        $(this).dialog();
                    }
                },
                rules: {
                    "rack[]": "required",
                    "rack_position_bottom[]": {
                        required: true,
                        range: [3, 44]
                    },
                    "rack_position_top[]": {
                        required: true,
                        range: [3, 44]
                    }
                }
            });
        });
    </script>
{%- endblock %}

{%- block content %}
    {{ super() }}
    <div class="container">
        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Inventory</h3>
    </div>
    <div class="container" id="files-display">
        <p><b>Content loaded from file(s):</b><br>{%- for file in files %}{{ file }}
            <br>{%- endfor %}<br><strong class="imp">Please
            review before submitting!</strong></p>
    </div>

    <form action="/inventory/save" method="post" id="invform">
        <div class="input-group container" id="site-reg-input">
            <label for="region-input">Site</label><input id="site-input" class="form-control col-xs-3" type="text"
                                                         required value="{{ site }}" form="invform" name="site"/>
            <p class="space-below">Region: <input type="text" required value="{{ region }}" form="invform"
                                                  name="region"/></p>
            <input type="hidden" id="site_type" name="site_type" value="{{ site_type }}" class="form-control" form="invform"/>
            <input type="hidden" name="arch" value="{{ arch }}" class="form-control" hidden form="invform"/>
            <input type="hidden" name="site_code" value="{{ site_code }}" class="form-control" hidden form="invform"/>
            <input type="hidden" name="nrack1" value="{{ nrack1 }}" class="form-control" hidden form="invform"/>
            <input type="hidden" name="nrack2" value="{{ nrack2 }}" class="form-control" hidden form="invform"/>
            <h4>The below additions will be made...</h4>
        </div>
        <div class="container-fluid">
            <div class="table-container">
                <table id="inventory-table"
                       class="table table-condensed table-responsive table-condensed table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th class="fit">Add</th>
                        <th class="fit">Remove</th>
                        <th class="fit">Rack</th>
                        <th class="fit">Rack Position Bottom</th>
                        <th class="fit">Rack Position Top</th>
                        <th class="fit">Equipment</th>
                        <th class="fit">Service Tag</th>
                        <th class="fit">Node Name</th>
                        <th class="fit">MAC Address</th>
                        <th class="fit">Instance Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%- for rack in values %}
                        {%- for row in rack %}
                            <tr>
                                <td class="fit"><span class="glyphicon glyphicon-plus"></span></td>
                                <td class="fit"><span class="glyphicon glyphicon-minus"></span></td>
                                <td class="fit"><input type="text" name="rack[]" value="{{ row[0] }}"/></td>
                                <td class="fit"><input type="text" name="rack_position_bottom[]" value="{{ row[1] }}"/>
                                </td>
                                <td class="fit"><input type="text" name="rack_position_top[]" value="{{ row[2] }}"/>
                                </td>
                                <td class="fit"><input type="text" name="equipment[]" value="{{ row[3] }}"/></td>
                                <td class="fit"><input type="text" name="service_tag[]" value="{{ row[4] }}"/></td>
                                <td class="fit"><input type="text" name="node_name[]" value="{{ row[5] }}"/></td>
                                <td class="fit"><input type="text" name="mac_address[]" value="{{ row[6] }}"/></td>
                                <td class="fit"><input type="text" name="instance_type[]" value="{{ row[7] }}"/></td>
                                <td class="hidden"><input type="hidden" name="description[]" value="{{ row[8] }}"/></td>
                            </tr>
                        {%- endfor %}
                    {%- endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="container bottom">
        {#            <input type="button" value="Add Row" id="add">#}
        {#        <input type="submit" value="Append" id="append" form="invform">#}
        <input class="btn btn-default" type="submit" value="Build Inventory and Supporting .csv Files" id="build" form="invform">
    </div>

{%- endblock %}
