{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a></h3>
    </div>
    <div class="container">
        <p>Welcome to the CSV Builder. Please choose which type of file you want to generate.</p>
        <li class="welcome-link"><a href="{{ url_for("inventory") }}">Inventory CSV</a></li>
{#        <li class="welcome-link"><a href="{{ url_for("site_bigswitch") }}">BigSwitch CSV</a></li>#}
{#        <li class="welcome-link"><a href="{{ url_for("site_torswitch") }}">TOR Switch CSV</a></li>#}
{#        <li class="welcome-link"><a href="{{ url_for("git_review") }}">Git Review</a> </li>#}
    </div>
{% endblock %}
