{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="container">
            <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Monitoring FiberSwitch</h3>
        </div>
        <div class="container">
            <p>TODO: Come up with instructions to put here after figuring out monitoring rack process</p>
        </div>
        <div class="container">
            <form action="/monitoring_fiberswitch/review" method="post" enctype="multipart/form-data" id="switchform">
                <p>Compute Rack 1: <input type="text" required form="switchform" name="rack1" placeholder="e.g. P05"/></p>
                <p>Compute Rack 2: <input type="text" required form="switchform" name="rack2" placeholder="e.g. P06"/></p>
                <p>Compute Rack 3: <input type="text" required form="switchform" name="rack3" placeholder="e.g. P07"/></p>
                <p>Compute Rack 4: <input type="text" required form="switchform" name="rack4" placeholder="e.g. P08"/></p>
                <p>Network Rack 1: <input type="text" required form="switchform" name="nrack1" placeholder="e.g. P09"/></p>
                <p>Network Rack 2: <input type="text" required form="switchform" name="nrack2" placeholder="e.g. P10"/></p>
                <p>Site: <input type="text" required form="switchform" name="site" placeholder="e.g. timbuktu"/></p>
                <p>Region: <input type="text" required form="switchform" name="region" placeholder="e.g. s1"/></p>
                <input class="btn btn-default" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
