{% extends "base.html" %}
{{ super() }}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='additional-methods.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                $("#inventory-table").append('<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyphicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="rack[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_bottom[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_top[]"></td>' +
                    '<td><input type="text" value="" name="equipment[]"></td>' +
                    '<td><input type="text" value="" name="service_tag[]"></td>' +
                    '<td><input type="text" value="" name="node_name[]"></td>' +
                    '<td><input type="text" value="" name="mac_address[]"></td>' +
                    '<td><input type="text" value="" name="instance_type[]"></td></tr>');
            });

            $(".glyphicon-plus").click(function () {
                var row = '<tr>' +
                    '<td><span class="glyphicon glyphicon-plus hidden"></span></td>' +
                    '<td><span class="glyphicon glyhpicon-minus"></span></td>' +
                    '<td><input type="text" value="" name="rack[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_bottom[]"></td>' +
                    '<td><input type="text" value="" name="rack_position_top[]"></td>' +
                    '<td><input type="text" value="" name="equipment[]"></td>' +
                    '<td><input type="text" value="" name="service_tag[]"></td>' +
                    '<td><input type="text" value="" name="node_name[]"></td>' +
                    '<td><input type="text" value="" name="mac_address[]"></td>' +
                    '<td><input type="text" value="" name="instance_type[]"></td></tr>';
                $(this).closest("tr").after(row);
            });

            $(".glyphicon-minus").click(function () {
                $(this).closest("tr").remove();
            });

            $("#invform").validate({
                invalidHandler: function (event, validator) {
                    if (validator.element("td")) {
                        $(this).dialog();
                    }
                },
                rules: {
                    "rack[]": "required",
                    "rack_position_bottom[]": {
                        required: true,
                        range: [3, 44]
                    },
                    "rack_position_top[]": {
                        required: true,
                        range: [3, 44]
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - Inventory</h3>
    </div>
    <div class="container">
        <p>Content loaded from file(s):<br>{% for file in files %}{{ file }}<br>{% endfor %}<br><strong class="imp">Please
            review before submitting!</strong></p>
    </div>

    <form action="/inventory/save" method="post" id="invform">
        {{ form.hidden_tag() }}
        <div class="container">
            <p>{{ form.site(site=site) }}</p>
            <p>{{ form.region(region=region) }}</p>
        </div>
        <h4>The below additions will be made...</h4>
        e Name</th>
        <th>MA
            <div class="table-container">
                <table id="inventory-table" class="table table-condensed table-responsive table-striped">
                    <thead style="display: table-header-group">
                    <tr>
                        <th>Add</th>
                        <th>Remove</th>
                        <th>Rack</th>
                        <th>Rack Position Bottom</th>
                        <th>Rack Position Top</th>
                        <th>Equipment</th>
                        <th>Service Tag</th>
                        <th>NodC Address</th>
                        <th>Instance Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in values %}
                        <tr>
                            <td><span class="glyphicon glyphicon-plus" style="width: 30%"></span></td>
                            <td><span class="glyphicon glyphicon-minus"></span></td>
                            <td>{{ form.rack(value={{ rack[] }}) }}</td>
                            <td>{{ form.rack_position_bottom }}</td>
                            <td>{{ form.rack_position_top }}</td>
                            <td>{{ form.equipment }}</td>
                            <td>{{ form.service_tag }}</td>
                            <td>{{ form.node_name }}</td>
                            <td>{{ form.mac_address }}</td>
                            <td>{{ form.instance_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

{% endblock %}