{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lite-nebs-toggle').click(function () {
                var lite = $("#lite-nebs-toggle").is(':checked');
                $("#cr2").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr3").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr4").parent().children().attr('required', !lite).toggle(!lite);
            });

            $('#lite-nonnebs-toggle').click(function () {
                var lite = $("#lite-nonnebs-toggle").is(':checked');
                $("#cr2").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr3").parent().children().attr('required', !lite).toggle(!lite);
                $("#cr4").parent().children().attr('required', !lite).toggle(!lite);
            });

            $('#core-toggle').click(function () {
                var core = $('#core-toggle').is(':checked');
                $("#cr2").parent().children().attr('required', core).toggle(core);
                $("#cr3").parent().children().attr('required', core).toggle(core);
                $("#cr4").parent().children().attr('required', core).toggle(core);
            });

            $('#dr-toggle').click(function () {
                var dr = $('#dr-toggle').is(':checked');
                $("#cr2").parent().children().attr('required', !dr).toggle(!dr);
                $("#cr3").parent().children().attr('required', !dr).toggle(!dr);
                $("#cr4").parent().children().attr('required', !dr).toggle(!dr);
            });

            $('#archive-toggle').click(function () {
                var archive = $('#archive-toggle').is(':checked');
                $("#cr2").parent().children().attr('required', !archive).toggle(!archive);
                $("#cr3").parent().children().attr('required', !archive).toggle(!archive);
                $("#cr4").parent().children().attr('required', !archive).toggle(!archive);
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="container">
            <h3><a href="{{ url_for('welcome') }}">CSV Builder</a> - TOR</h3>
        </div>
        <div class="container">
            <p>Specify the 4 racks that are part of your stack, in the order that they are laid out</p>
        </div>
        <div class="container">
            <form action="/torswitch/review" method="post" enctype="multipart/form-data" id="torform">
                <div class="radio-inline">
                    <label>
                        <input class="radio" type="radio" name="site_type" id="core-toggle" form="torform" value=""/>
                        Core
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio" type="radio" name="site_type" id="lite-nebs-toggle" form="torform" value="lite_nebs"/>
                        Lite (NEBS) Site
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio" type="radio" name="site_type" id="lite-nonnebs-toggle" form="torform" value="lite_nonnebs"/>
                        Lite (non-NEBS) Site
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio" type="radio" name="site_type" id="dr-toggle" form="torform" value="dr"/>
                        Data Retention
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio" type="radio" name="site_type" id="archive-toggle" form="torform" value="archive"/>
                        Archive
                    </label>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr1">Rack 1:</label>
                    <input id="cr1" type="text" required form="torform" name="rack1" placeholder="e.g. P05"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr2">Rack 2:</label>
                    <input id="cr2" type="text" required form="torform" name="rack2" placeholder="e.g. P06"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr3">Rack 3:</label>
                    <input id="cr3" type="text" required form="torform" name="rack3" placeholder="e.g. P07"/>
                </div>
                <div class="form-inline">
                    <label class="control-label" for="cr4">Rack 4:</label>
                    <input id="cr4" type="text" required form="torform" name="rack4" placeholder="e.g. P08"/>
                </div>
                <div class="form-inline">
                    <label class="control-label">Site:</label>
                    <input type="text" required form="torform" name="site" placeholder="e.g. timbuktu"/>
                </div>
                <div class="form-inline">
                    <label class="control-label">Region:</label>
                    <input type="text" required form="torform" name="region" placeholder="e.g. s1"/>
                </div>
                <input class="btn btn-default" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}